body {
	font-family: arial;
	font-size: 10pt;
	margin: 0px;
	padding: 0px;
}

/* helper classes */
.capitalize {
	text-transform: capitalize;
}

.center {
	text-align: center;
}

.hidden,.theModal > .content {
	display: none;
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
	vertical-align: middle;
}

/* Defaults */

a {
	color: #555;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Forms */

form {
	margin: 0px;
	padding: 0px;
}

label, input, select, textarea {
	display: block;
	padding: 10px;
}

textarea, input[type=text] {
	border: 1px solid #ccc;	
}

textarea {
	min-height: 140px;
}

input[type=submit], a.button {
	border: 1px solid #ccc;
	border-radius: 8px;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	margin: 16px;
	font-size: 1.3em;
	padding: 12px;
	cursor: pointer;
	color: #555;
}

input[type=submit]:disabled {
	color: #C4C2C2;
}

input[type=submit].small, a.button-small {
	font-size: 1em;
	padding: 4px 8px;
	margin: 4px;
	border-radius: 6px;
}

a.button {
	cursor: pointer;
}

a.button:hover {
	text-decoration: none;
}



/* Columns */

.column {
	display: inline-block;
	width: 100%;
	vertical-align: top;
	min-width: 200px;
}

.column-half {
	width: 50%;
}

.column-quarter {
	width: 25%;
}

.column-third {
	width: 33%;
}

.column-two-thirds {
	width: 66%;
}

.column-third > h3 {
	display: inline-block;
	vertical-align: middle;
}

.column-third > .options {
	display: inline-block;
	vertical-align: middle;
	margin-top: 10px;
	margin-left: 20px;
	font-size: .9em;
}

form {
	white-space: nowrap;
}

form .column {
	white-space: normal;
}

/* Theming */

header {
	background: #52b152; /* Old browsers */
	background: -moz-linear-gradient(top,  #52b152 10%, #008a00 93%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#52b152), color-stop(93%,#008a00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #52b152 10%,#008a00 93%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #52b152 10%,#008a00 93%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #52b152 10%,#008a00 93%); /* IE10+ */
	background: linear-gradient(to bottom,  #52b152 10%,#008a00 93%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52b152', endColorstr='#008a00',GradientType=0 ); /* IE6-9 */
	height: 100px;
	position: relative;
	font-size: 1.5em;
}

header h1 {
	margin: 0;
	padding: 0;
	color: #fff;
	position: absolute;
	bottom: 10px;
	left: 16%;
}

#systemBar {
	clear: both;
	min-height: 40px;
}

.sysMsg {
	text-align: center;
	position: absolute;
	left: 25%;
	width: 50%;
	min-width: 100px;
}

.sysMsg h4 {
	border-radius: 6px;
	border: 1px solid #555;
	background-color: #efefef;
	cursor: pointer;
	width: 50%;
	min-width: 100px;
	margin: 8px auto;
}

.sysMsg h4:hover {
	color: red;
}

.navigation {
	font-size: 1.2em;
	background-color: #efefef;
	min-height: 42px;
}

.navigation a {
	border-left: 6px solid transparent;
	display: inline-block;
	width: 8%;
	min-width: 100px;
	text-decoration: none;
	padding: 12px;
	text-align: center;
}

.navigation a:hover, .navigation a.current {
	border-left: 6px solid #008A00;
}

.navigation, .navigation a {
	color: #555;
}

.subNav {
	background-color: transparent;
	font-size: 1.1em;
	min-width: 240px;
}

.subNav a {
	padding: 6px;
	width: 4%;
	min-width: 60px;
}

.subNav a:hover {
	background-color: #efefef;
}

.subNav a.current {	
	background-color: #efefef;
}

.options {
	margin: 0 0 8px 0;
}

body > .container {
	max-width: 1024px;
	margin: 30px auto 0 auto;
}

@media (max-width: 1044px) {
	body > .container {
		margin: 30px 20px 0 20px;
	}
}

/* Data presentation */

table.list {
	width: 100%;
}

table.list th {
	background-color: #008A00;
	color: #efefef;
}

table.list td {
	padding: 4px;
}

table.list tr:nth-child(odd) {
	background-color: #efefef;
}

table.list tr.inactive td {
	background-color: #FFC9C9;
}

/* javascript manipulations */

.blur {
  -webkit-filter: blur(3px) grayscale(70%);
  filter: blur(3px);
}

#theModal {
	display: none;
	border: 1px solid #000;
	background-color: #fff;
	position: fixed;
	top: 200px;
	left: 50%;
	width: 40%;
	min-height: 300px;
	margin-left: -20%;
	z-index: 10;
	min-width: 400px;
}

@media (max-width: 1044px) {
	#theModal {
		width: 60%;
		margin-left: -30%;
	}
}

@media (max-width: 500px),(max-height: 800px) {
	#theModal {
		top: 20px;
	}
}

#theModal .header {
	border-bottom: 1px solid #000;
	background-color: #008A00;
	text-align: right;
	padding: 4px;
}

#theModal .header, #theModal .header a {
	color: #efefef;
}

#theModal .header a {
	text-decoration: none;
}

#theModal .content {
	padding: 18px;
}

#theOverlay{
	display: none;
  	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	z-index: 2;
	background-color: rgba(0,0,0,0.5);
}

/* jquery ui overrides */

#ui-datepicker-div .ui-widget-header {
	border: 1px solid #dfdfdf;
	background-image: none;
	background-color: #008A00;
	border-radius: 0px;
}

#ui-datepicker-div .ui-state-default, #ui-datepicker-div .ui-widget-content .ui-state-default, 
	#ui-datepicker-div .ui-widget-header .ui-state-default {
	color: #555;
}

#ui-datepicker-div .ui-state-active, #ui-datepicker-div .ui-widget-content .ui-state-active, 
	#ui-datepicker-div .ui-widget-header .ui-state-active {
	border: 1px solid #008A00;
	color: #008A00
}

/* css preloader */

.loader {
	float: left;
}

#squaresWaveG {
	position:relative;
	width:240px;
	height:16px
}

.squaresWaveG {
	position:absolute;
	top:0;
	background-color: transparent;
	width:30px;
	height:16px;
	-moz-animation-name:bounce_squaresWaveG;
	-moz-animation-duration:1.3s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-webkit-animation-name:bounce_squaresWaveG;
	-webkit-animation-duration:1.3s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-ms-animation-name:bounce_squaresWaveG;
	-ms-animation-duration:1.3s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-o-animation-name:bounce_squaresWaveG;
	-o-animation-duration:1.3s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	animation-name:bounce_squaresWaveG;
	animation-duration:1.3s;
	animation-iteration-count:infinite;
	animation-direction:linear;
}

#squaresWaveG_1 {
	left:0;
	-moz-animation-delay:0.52s;
	-webkit-animation-delay:0.52s;
	-ms-animation-delay:0.52s;
	-o-animation-delay:0.52s;
	animation-delay:0.52s;
}

#squaresWaveG_2 {
	left:30px;
	-moz-animation-delay:0.65s;
	-webkit-animation-delay:0.65s;
	-ms-animation-delay:0.65s;
	-o-animation-delay:0.65s;
	animation-delay:0.65s;
}

#squaresWaveG_3 {
	left:60px;
	-moz-animation-delay:0.78s;
	-webkit-animation-delay:0.78s;
	-ms-animation-delay:0.78s;
	-o-animation-delay:0.78s;
	animation-delay:0.78s;
}

#squaresWaveG_4 {
	left:90px;
	-moz-animation-delay:0.91s;
	-webkit-animation-delay:0.91s;
	-ms-animation-delay:0.91s;
	-o-animation-delay:0.91s;
	animation-delay:0.91s;
}

#squaresWaveG_5 {
	left:120px;
	-moz-animation-delay:1.04s;
	-webkit-animation-delay:1.04s;
	-ms-animation-delay:1.04s;
	-o-animation-delay:1.04s;
	animation-delay:1.04s;
}

#squaresWaveG_6 {
	left:150px;
	-moz-animation-delay:1.17s;
	-webkit-animation-delay:1.17s;
	-ms-animation-delay:1.17s;
	-o-animation-delay:1.17s;
	animation-delay:1.17s;
}

#squaresWaveG_7 {
	left:180px;
	-moz-animation-delay:1.3s;
	-webkit-animation-delay:1.3s;
	-ms-animation-delay:1.3s;
	-o-animation-delay:1.3s;
	animation-delay:1.3s;
}

#squaresWaveG_8 {
	left:210px;
	-moz-animation-delay:1.43s;
	-webkit-animation-delay:1.43s;
	-ms-animation-delay:1.43s;
	-o-animation-delay:1.43s;
	animation-delay:1.43s;
}

@-moz-keyframes bounce_squaresWaveG {
	0% {
		background-color:#efefef;
	}

	100% {
		background-color:#008A00;
	}
}

@-webkit-keyframes bounce_squaresWaveG {
	0% {
		background-color:#efefef;
	}

	100% {
		background-color:#008A00;
	}
}

@-ms-keyframes bounce_squaresWaveG {
	0% {
		background-color:#efefef;
	}

	100% {
		background-color:#008A00;
	}
}

@-o-keyframes bounce_squaresWaveG {
	0% {
		background-color:#efefef;
	}

	100% {
		background-color:#008A00;
	}
}

@keyframes bounce_squaresWaveG {
	0% {
		background-color:#efefef;
	}

	100% {
		background-color:#008A00;
	}
}
